{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}



    <div class="container">
    <div class="row justify-content-center">






    <div class="card col-5 shadow-sm p-3 mb-5 bg-white rounded" >
        <div class="card-header">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <h1 class="card-title ">{{ app.user.pseudo }}</h1>
            {% endif %}
        </div>


            <img class="card-img-top-center" src="" alt="image profil">
            <div class="card-body">
            <p class="card-text">Prénom : {{ app.user.prenom }}</p>
            <p class="card-text">Nom : {{ app.user.nom }}</p>
            <p class="card-text">Téléphone : {{ app.user.telephone }}</p>
            <p class="card-text">E-Mail : {{ app.user.mail }}</p>
            <p class="card-text">Téléphone : {{ app.user.telephone }}</p>
            <p class="card-text">Ville de ratachement : {{ app.user.site.getNomSite() }}</p>

                <a href="{{ path("profil_gerer", {"id": app.user.id}) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path("sorties_home") }}" class="btn btn-primary">Retour</a>



        </div>
    </div>

{% endblock %}