{% extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}




    <div class="container-fluid">
        <div class="row justify-content-center">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width:400px">
        {% if (user.id) == (1) %}
            <img class="card-img-top" src="../../public/image/avatar2.png" alt="Card image">
        {% endif %}
        {% if (user.id) == (2) %}
            <img class="card-img-top" src="../../public/image/avatar-3.png" alt="Card image">
        {% endif %}
        <div class="card-header">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <h1 class="card-title ">{{ user.pseudo }}</h1>
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">Prénom : {{ user.prenom }}</p>
            <p class="card-text">Nom : {{ user.nom }}</p>
            <p class="card-text">Téléphone : {{ user.telephone }}</p>
            <p class="card-text">E-Mail : {{ user.mail }}</p>
            <p class="card-text">Téléphone : {{ user.telephone }}</p>
            <p class="card-text">Ville de rattachement : {{ user.site.getNomSite() }}</p>



                <div class="text-center mt-5">
                    {% if (app.user.id) == (user.id) %}
                <a href="{{ path("profil_gerer", {"id": user.id}) }}" class="btn btn-warning ">Modifier</a>
            {% endif %}
            <a href="{{ path("sorties_home") }}" class="btn btn-info">Retour</a>
                </div></div>









    </div>

        </div></div>


{% endblock %}