{% extends 'base.html.twig' %}

{% block title %}Gestion du profil{% endblock %}

{% block main %}
    <h1 class="text-center">Gérer le profil</h1>

    {{ form_start(participantForm) }}
    {{ form_widget(participantForm) }}
    <a href="{{ path("profil_afficher") }}" class="btn btn-primary">Enregistrer</a>
    <a href="{{ path("sorties_home") }}" class="btn btn-primary">Annuler</a>
    {{ form_end(participantForm) }}


{% endblock %}
