{% extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <div class="row d-flex justify-content-center">
    <div class="col-4">
        <h1>Inscription</h1>
    {{ form_start(formParticipant) }}
        {{ form_errors(formParticipant) }}
    {{ form_widget(formParticipant) }}
    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" >Inscrire</button>
    {{ form_end(formParticipant) }}
    </div></div>
{% endblock %}