{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="css/app.css">
{% endblock %}

{% block main %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 offset-10">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p class="text-right font-weight-bold">Date du jour : {{ "now"|date("d/m/Y") }}</p>
                    <p class="text-right font-weight-bold">Participant : <span id="nom_user">{{ app.user.pseudo }}</span></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Filtrer les sorties</h2>
        </div>
        <div class="col-md-4">
            <div class="mt-3">
                <form action="{{ path('sorties_rechercher') }}" method="post">

                    <div class="mb-3">
                        <label>Site : </label>
                        <select name="selectSites">
                            <option value="0">--Choisissez un site</option>
                            {% for site in listeSites %}
                                <option>{{ site.nomSite }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label>Le nom de la sortie contient : </label>
                    <input type="text" id="mot" name="mot">
                    <div id="checkBox" class="col-md-9">
                        <div>
                            <input type="checkbox" id="SortiesOrganisateur" onclick="checkboxFiltre()">
                            <label for="scales">Sorties dont je suis l'organisateur/trice</label>
                        </div>

                        <div>
                            <input type="checkbox" id="SortiesInscrit" onclick="checkboxFiltre()">
                            <label for="horns">Sorties auxquelles je suis inscrit/e</label>
                        </div>
                        <div>
                            <input type="checkbox" id="SortiesPasInscrit" onclick="checkboxFiltre()">
                            <label for="horns">Sorties auxquelles je ne suis pas inscrit/e</label>
                        </div>
                        <div>
                            <input type="checkbox" id="SortiesPassees" onclick="checkboxFiltre()">
                            <label for="horns">Sorties passées</label>
                        </div>
                    </div>

                    <a href="{{ path('sorties_rechercher') }}"><input type="submit" id="search" value="Rechercher" onclick="checkboxFiltre()"></a>

                </form>
            </div>

            <div class="mt-3">
                Entre le <input type="date"> et le <input type="date">
            </div>
        </div>

    </div>

    <table id="sortieTable" class="table table-striped mt-5">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% if listeRecherche is defined %}

            {% for recherche in listeRecherche %}

                <tr class="text-center">
                    <td>{{ recherche.nom }}</td>
                    <td>{{ recherche.datedebut.format("d-M-Y") }}</td>
                    <td>{{ recherche.dateclosure.format("d-M-Y") }}</td>
                    <td>{{ recherche.participants|length }}/{{ recherche.nbinscriptionsmax }}</td>
                    <td>{{ recherche.etat.libelle }}</td>
                    <td></td>
                    <td>
                        <a href="{{ path("profil_afficher", {'id' : recherche.organisateur.getId() }) }}">{{ recherche.organisateur.prenom }}</a>
                    </td>
                    <td>
                        <a href="{{ path('sortie_visualiser', {'id': sortie.id }) }}"><input type="button" value="afficher" class="btn btn-info"></a>

                        {% if app.user not in sortie.participants and app.user!=sortie.organisateur and (sortie.etat!="Clôturée"
                            or sortie.etat!="Activité en cours" or sortie.etat!="Passée")%}
                            <input type="button" name='boutonInscription' value="s'inscrire" id="{{ sortie.id }}" class="btn btn-dark">
                        {% endif %}
                        {% if sortie.isPublished is same as(false) and app.user==sortie.organisateur %}
                            <input type="button" name='boutonPublier' value="publier" id="{{ sortie.id }}" class="btn btn-success">
                        {% endif %}
                        {% if app.user in sortie.participants %}
                            <input type="button" name='boutonDesistement' value="se désister" id="{{ sortie.id }}" class="btn btn-danger">
                        {% endif %}
                        {% if sortie.organisateur is same as(app.user) %}
                            <a href="{{ path('sorties_modifier', {'id': sortie.id }) }}">
                                <input type="button" name='boutonModifier' value="modifier" id="{{ sortie.id }}" class="btn btn-dark">
                            </a>
                            <input type="button" name='boutonAnnuler' value="annuler" id="{{ sortie.id }}" class="btn btn-danger">
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        {% else %}
            {% for sortie in listeSorties %}
                <tr class="text-center">
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.datedebut.format("d-M-Y") }}</td>
                    <td>{{ sortie.dateclosure.format("d-M-Y") }}</td>
                    <td>{{ sortie.participants|length }}/{{ sortie.nbinscriptionsmax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>{% if app.user in sortie.participants %}<strong>X</strong>{% endif %}</td>
                    <td>
                        <a href="{{ path("profil_afficher", {'id' : sortie.organisateur.getId() }) }}">{{ sortie.organisateur.pseudo }}</a>
                    </td>
                    <td>
                        <a href="{{ path('sortie_visualiser', {'id': sortie.id }) }}"><input type="button" value="afficher" class="btn btn-info"></a>

                        {% if app.user not in sortie.participants and app.user!=sortie.organisateur and (sortie.etat!="Clôturée"
                            or sortie.etat!="Activité en cours" or sortie.etat!="Passée")%}
                        <input type="button" name='boutonInscription' value="s'inscrire" id="{{ sortie.id }}" class="btn btn-dark">
                        {% endif %}
                        {% if sortie.isPublished is same as(false) and app.user==sortie.organisateur %}
                            <input type="button" name='boutonPublier' value="publier" id="{{ sortie.id }}" class="btn btn-success">
                        {% endif %}
                        {% if app.user in sortie.participants %}
                        <input type="button" name='boutonDesistement' value="se désister" id="{{ sortie.id }}" class="btn btn-danger">
                        {% endif %}
                        {% if sortie.organisateur is same as(app.user) %}
                        <a href="{{ path('sorties_modifier', {'id': sortie.id }) }}">
                            <input type="button" name='boutonModifier' value="modifier" id="{{ sortie.id }}" class="btn btn-dark">
                        </a>
                        <input type="button" name='boutonAnnuler' value="annuler" id="{{ sortie.id }}" class="btn btn-danger">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
<div class="row">
    <a href="{{ path('sorties_gerer') }}">
        <button type="button" class="btn btn-info mt-5">Créer une sortie</button>
    </a>
</div>
{% endblock %}

