{% extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Créer une sortie</h1>
    <div class="d-flex justify-content-around">
        <div class="col-3">
             {% if sortieForm is defined %}
            {{ form_start(sortieForm) }}
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.datedebut) }}
            {{ form_row(sortieForm.dateclosure) }}
            {{ form_row(sortieForm.nbinscriptionsmax) }}
            {{ form_row(sortieForm.datefin) }}
            {{ form_row(sortieForm.descriptioninfos) }}
             {% endif %}
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="villeOrga" class="col-form-label">Ville organisatrice</label>
                <input type="text" class="form-control" id="villeOrga" value="Mettre la valeur du site du participant">
            </div>
            <div class="form-group mb-3">
                <label for="villes">Ville</label>
                <select class="custom-select" id="select-villes">
                    <option value="0">-- Choisir une ville --</option>
                    {% if listeVilles is defined %}
                    {% for ville in listeVilles %}
                        <option id="{{ ville.id }}">{{ ville.getNomVille() }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="lieux" id="labelLieux">Lieu</label>
                <div id="iconeAjoutLieu">
                    <a href="{{  path('sorties_ajouterLieu')}}"><img src="{{ asset('image/add.png') }}" alt="iconeLieu" height="40px" width="40px" id="iconeLieu">
                    </a>
                </div>
                <select id="select-lieux" class="custom-select" data-route="{{ path("sorties_home") }}">
                    <option value="0">-- Choisir un lieu --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rue" id="labelRue" class="col-form-label">Rue</label>
                <input type="text" class="form-control" id="rue">
            </div>
            <div class="form-group">
                <label for="codePostal" id="labelCodePostal" class="col-form-label">Code postal</label>
                <input type="text" class="form-control" id="codePostal">
            </div>
            <div class="form-group">
                <label for="latitude" id="labelLatitude" class="col-form-label">Lattitude</label>
                <input type="text" class="form-control" id="latitude">
            </div>
            <div class="form-group">
                <label for="longitude" id="labelLongitude" class="col-form-label">Longitude</label>
                <input type="text" class="form-control" id="longitude">
            </div>
        </div>
    </div>
    <div class="buttons mt-3 justify-content-center d-flex">
        <button type="submit" class="btn btn-lg btn-info mr-3">Enregistrer</button>
        <button type="submit" class="btn btn-lg btn-info mr-3">Publier la sortie</button>
        <button type="submit" class="btn btn-lg btn-info mr-3">Annuler</button>
    </div>
    {% if sortieForm is defined %}
        {{ form_end(sortieForm) }}
    {% endif %}

{% endblock %}
