{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Gérer les sorties (Creer, Modifier, Annuler)</h1>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    <label>Ville : </label>
    <select>
{#        {% for ville in listeVilles %}#}
{#        <option>{{ ville.getNomVille() }}</option>#}
{#        {% endfor %}#}
    </select>

    <button type="submit" class="btn btn-primary">Créér</button>
    {{ form_end(sortieForm) }}

{% endblock %}