{%  extends "base.html.twig" %}

{% block title %}
    Detail | {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Créer une sortie</h1>

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <select>
        {% for ville in listeVilles%}
            <option>{{ ville.getNomVille() }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Créér</button>
    {{ form_end(sortieForm) }}

{% endblock %}